@import '../styles/app'

.wrapper
    overflow: hidden
    max-width: 1280px
    width: 100%
    margin: 0 auto

.bg-attachment
    position: fixed
    top: 0
    left: 0
    right: 0
    bottom: 0
    z-index: 0
    h1
        position: absolute
        top: 50%
        left: 50%
        transform: translate(-50%,-50%)
        color: #01228b0a
        font-size: 50rem
        letter-spacing: 1rem
        +teko
        font-weight: 700
        display: flex
        width: 100%
        +dark
            color: #171e3424
        +x
            font-size: 45rem
        +d
            font-size: 40rem
        +t
            font-size: 30rem
        +m
            width: unset
            font-size: 28rem
            left: 25%
            transform: translate(-50%, -50%) rotateZ(90deg)
        +s
            font-size: 25rem
